* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
}
.main {
  height: 100%;
  width: 100%;
  position: absolute;
  /*background-color: aliceblue;*/
}

#logo {
    position: absolute;
    left: 80px;
    width: 50px;
    height: 50px;
    background;
}

.nav {
  height: 90px;
  width: 100%;
  background-color: darkturquoise	;
  border-bottom: 2px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8vw;
}

.nav-part2 {
  display: flex;
  gap: 4vw;
  align-items: center;
}
.nav h2 {
  font-size: 40px;
  font-weight: 800;
  font-family: outfit;
  color: #fff;
  cursor: pointer;
}
.nav h4 {
  font-size: 15px;
  font-weight: 900;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav i {
  font-weight: 700;
  font-size: 20px;
  display: none;
}
.content {
  height: 67%;
  width: 100%;
  display: flex;
  position: relative;
}
.left {
  height: 100%;
  width: 100%;
  padding: 2vw 8vw;
}
.left h1 {
  color: #000;
  font-family: Outfit;
  font-size: 4vw;
  line-height: 4.4vw;
}
.left h1 span {
  color: seagreen;
}
.left .p1 {
  color: #666;
  font-family: Outfit;
  font-size: 1.23vw;
  font-style: normal;
  font-weight: 500;
  margin-top: 2vw;
  margin-bottom: 1vw;
  letter-spacing: 0.3px;
}
.left .p2 {
  color: #666;
  font-family: Outfit;
  font-size: 1.23vw;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 3.5vw;
  letter-spacing: 0.3px;
}
/*.right{
    height: 100%;
    width: 40%;
    background-color: blueviolet;
}*/
/* .white-bar {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 0.7vw;
  width: 50vw;
  margin-right: 0.5vw;
  position: relative;
  cursor: text;
} */
button {
  background-color: #337ab7;
  color: black;
  font-size: 0.75vw;
  border-radius: 10px;
  border-style: solid;
  border-color: #245580;
  border-width: 1px;
  padding: 0.85vw 0.7vw;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}
.map-container {
  width: 100%;
  height: 70vh;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center; */
  padding: 0vw 8vw;
}

html,body,#map {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 500px;
  top: 0px;
  left: 0px;
  margin-bottom: 20px;
}

#locationInput {
  border: 5px solid rgb(0, 238, 255);
  height: 50px;
  width: 600px;
  border-style: ridge;
  border-radius: 15px;
  margin-right: 20px;
  font-size: medium;
  padding-left: 1%;
}

#button-design {
    position: absolute;
    font-size: 20px;
    background-color: rgb(0, 187, 187);
    text-align:center;
    border: 5px solid rgb(0, 0, 0);
    height: 50px;
    width: 150px;
    border-style: inherit;
    border-radius: 15px;
    padding: 0%;
    margin: 0%;
}

#heading-two {
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 1200px;
}

@media (max-width: 700px) {
  
  #input-parameters {
    display: flex;
    flex-direction: column;
  }

  #locationInput {
    margin-bottom: 10px;
    width: 250px;
    padding-left: 1%;
  }

  #button-design{
    height:auto;
    margin-top: 60px;
    display: block;
  }

  #logo {
    left: 20px;
  }

  .nav {
    padding: 0 8vw;
    height: 70px;
  }
  .nav h2 {
    margin-left: 45px;
    font-size: 30px;
  }
  .nav h4 {
    display: none;
  }
  .nav i {
    font-size: 25px;
    display: block;
  }
  .left h1 {
    font-size: 7vw;
    line-height: 8.2vw;
  }
  .left .p1 {
    font-size: 3vw;
    margin-bottom: 2vw;
  }
  .left .p2 {
    font-size: 3vw;
    margin-bottom: 5vw;
  }
  /* .white-bar {
    border-radius: 5px;
  } */
  button {
    font-size: 3.12vw;
    padding: 1.1vw 0.9vw;
    border-radius: 5px;
  }
  .content {
    height: 42.2%;
  }
}
